body {
  font-family: 'Open Sans', sans-serif;
  background: #fff;
}

ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: center;
  padding-bottom: 50px;
  }

li {
  display: block;
  float: left;
  font-weight: 400;
  font-size: 14px;
  padding-right: 50px;
}


.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-ad {
  margin-bottom: 30px;
}

.title {
  font-size: 1.4rem;
  margin-bottom: 50px;
  text-align: center;
}

.crypto-container {
  background:white;
  width: 70%;
  margin: 0 auto 4px auto;
  padding: 1em;
  box-shadow: 1px 1px 0 lightgrey;
}

.main-row {
  display: flex;
  justify-content: space-between;
}

.left {
  font-weight: 500;
}

.name {
  padding-left: 20px;
}

.name_text {
  font-size: 16px;
  font-weight: 600;
}

.right {
  float:right;
}

.crypto-icon {
  height: 16px;
  padding: 0 8px 0 15px;
  width: 16px;
}

.text-center {
    padding: 6px;
    vertical-align: middle;
    border-top: 0;
    border-bottom: 0;
}

.table-style {
  width: 100%;
}

.symbol {
  width: 120px;
}

.name {
  width: 220px;
}

.rank {
  width: 30px;
}

.marketcap {
  width: 180px;
  padding-right: 15px;
  text-align: right;
}

.price {
  width: 100px;
  padding-right: 15px;
  text-align: right;
}

.volume {
  width: 180px;
  padding-right: 15px;
  text-align: right;
}
.circ {
  width: 150px;
  padding-right: 15px;
  text-align: right;
}
.change {
  text-align: right;
  padding-right: 15px;
}

.graph {
  text-align: right;
  padding-left: 30px;
  width: 165px;
}

.bold {
  font-weight: bold;
}



/* Small Devices */
@media only screen and (max-width: 1024px) {
  
  .graph {
    display: none;
  }

  .circ {
    display: none;
  }
  .volume {
    display: none;
  }
  .marketcap {
    display: none;
  }

  .hide {
    display: none;
  }

}

/* Medium Devices, Desktop */
@media only screen and (min-width: 1300px) {
    .symbol {
      display: none;
    }

}


/* Medium Devices, Desktop */
@media only screen and (max-width: 1300px) {
  .name {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .crypto-container {
    width:85%;
  }
  .symbol {
    width: 120px;
  }
}
